.App {
  text-align: center;
}

.navbar{
  height: 100%;
  text-align: right;
  background-color: aquamarine;
}
.navbar li{
  display: inline;
  margin-left: 20px;
}
#messageLink{
  margin-right: 30px;
}
